body {
	padding: 40px;
	font-family: Helvetica, sans-serif;
	color: rgba(38, 63, 86, 0.9);
	max-width: 800px;
	margin: 0 auto 20px auto;
}

p.image {
	margin: 0;
	text-align: center;
}

img {
	border: 1px solid transparent;
	border-radius: 100px;
	margin: 30px 0 50px 0;
}

h1 {
	margin: 0 0 30px 0;
	font-size: 20px;
	font-weight: normal;
	line-height: 1.5;
}

h1 a { font-weight: bold; }

h1 span {
	color: rgba(49, 209, 178, 1);
	font-weight: bold;
	font-size: 24px;
}

h3 { margin: 0 0 10px 0; }

ul {
	padding: 0 0 0 20px;
	margin: 0 0 30px 0;
}

li h4, li p { margin: 0; }

h4 span { font-weight: normal; }

p.dates {
	color: rgba(38, 63, 86, 0.4);
	font-style: italic;
	font-size: 14px;
}

span.date {
	color: rgba(38, 63, 86, 0.4);
	font-style: italic;
	margin-right: 10px;
}

li {
	line-height: 1.5;
	margin: 0 0 10px 0;
}

a { color: blue; }